{
  "browserPaths": {
    "chrome": "%ProgramFiles(x86)%/Google/Chrome/Application/chrome.exe",
    "edge": "%ProgramFiles(x86)%/Microsoft/Edge/Application/msedge.exe",
    "opera": "%LocalAppData%/Programs/Opera/opera.exe",
    "firefox": "firefox"
  },
  "store": {
    "mozillaAddons": "{UUID}",
    "mozillaAddonsAndroid": "{UUID}",
    "chromeStore": "PUBLIC KEY",
    "operaDeveloper": "UUID WITHOUT BRACKETS",
    "edgeAddons": "PUBLIC KEY"
  },
  "browser": {
    "chrome": {
      "googleOauthClientId": "SOME-ID.apps.googleusercontent.com"
    },
    "firefox-android": {
      "adbBin": "adb",
      "adbHost": "127.0.0.1",
      "adbPort": "5037",
      "adbDevice": "android-device",
      "adbDiscoveryTimeout": 180000,
      "adbRemoveOldArtifacts": true,
      "firefoxApk": "org.mozilla.firefox",
      "firefoxApkComponent": ".App"
    }
  }
}